/* @import-normalize; */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #b76d68;
  font-size: 4em;
}

h2 {
  color: #b76d68;
  font-size: 2em;
  font-weight: 400;
}


p {
  color: #8f8f8f;
}

body {
  --red: #ff0055;
  --offwhite: rgb(255, 251, 246);
  --offwhiteTinged: rgba(255, 251, 246, 0.7);
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

}

hr { color: gray; border-style: inset; border-width: 1px; margin: 0 auto; }


ul,
li {
  margin: 0;
  padding: 0;
}

.bg-color {
  background-color: #FFFBF6;
}

.light-backdrop-box {
  background-color: #E7E0D6;
}

.dark-backdrop-box {
  background-color: #C0A483;
}

.pointer {
  cursor: pointer;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subtle-shifting-bg {
  z-index: -10;
  background-image: linear-gradient(60deg, lightgrey, #FFFBF6, lightgrey, #FFFBF6, lightgrey, #FFFBF6);
  background-size: 400%;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  animation: join-page-bg-animation 20s infinite alternate;
}

@keyframes join-page-bg-animation {
  0% {background-position: 0%;}
  100% {background-position: 15%;}
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.glass-effect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dark-glass-effect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

/* ----------------------------------  HomePage */

.homepage-bg {
  margin: 0;
  background-color: #2c2b3c;
  width: 100%;
  height: 100%;
  position: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-frame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%; height: 100%;
  position: absolute;
  overflow: hidden;

  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.homepage-frame:before {
  content: '';
  position: relative;
  width: 80%; height: 70%;
  border-radius: 10% / 60%;

  /* backdrop-filter: blur(0px); */

  box-shadow: 0px 100px 0 300px rgba(18, 20, 32, 0.9);
}

.cta-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
  justify-content: center;

  color: #1b2432;
  font-weight: 600;

  width: 20%;
  aspect-ratio: 3;

  border-radius: 30px;
  transition: transform 0.3s ease;
  border-width: 0.1rem;
  border-color: hsl(0 0% 100% / 0.05);
}

.back-to-top-btn {
  border-width: 0;
  background: transparent;
}

.last-homepage-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  width: 100%;
}

.back-to-top {
  margin-bottom: 20%;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

/* ----------------------------------  Hamburger Menu */
.hamburger-nav {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 250px;
}

.hamburger-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  /* background: rgba(0, 0, 0, 0.4); */
}

.hamburger-toggle-btn {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.hamburger-menu-list {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.hamburger-menu-item {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.hamburger-icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
  font-size: 5rem;
}


.hamburger-text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

/* ----------------------------------  Navigation Bar */

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.navbar-brand {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
}

.home-button {
  padding: none;
  border-width: 0;
  background: transparent;
}

.navbar-logo {
  width: 3rem;
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  color: #fff;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

/* navbar at small screen size */
@media (max-width: 35em) { 
  .primary-navigation {
    --gap: 2em;
    text-align: left;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url('./logo.svg');
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('./logo.svg');
  }
}
/* navbar at medium screen size */
@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation {
    padding: 2rem;
  }
}

/* navbar at large screen size */
@media (min-width: 55em) {
  .primary-navigation{
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }

  
}

.join-btn {
  text-decoration: none;
  border-width: 0;
  overflow: hidden;
  color: #fff;
  background-color: black;
  border-radius: 1rem 2rem 0 5rem / 3rem 4rem 1rem 3rem;
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.join-btn::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.join-btn:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

.join-btn:hover::after {
  transform: rotate(150deg);
}

/* .nav-button {
  text-align: center;
  color: white;
  background: transparent;
  border: 0.5px solid transparent;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover {
  background: rgba(0 0 100% / 0.6);
  border: 0.5px solid white;

} */

/* ------------------------------------------- Join Us Page */

.join-page-bg{
  background-image: linear-gradient(60deg, #2c2b3c, #403f4c, #2c2b3c, #403f4c, #2c2b3c, #403f4c);
  background-size: 400%;
  width: 100%;
  height: 100%;
  position:fixed;
  animation: join-page-bg-animation 20s infinite alternate;
}

@keyframes join-page-bg-animation{
  0% {background-position: 0%;}
  100% {background-position: 15%;}
}

.join-page-grid {
  display: grid;
  row-gap: 4rem;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-block: 10%;
  width: min(95%, 70rem);
  margin-inline: auto;
  justify-items: center;
}

.join-page-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
  justify-content: center;

  width: 60%;
  aspect-ratio: 3;

  border-radius: 30px;
  transition: transform 0.3s ease;
  border-width: 0.1rem;
  border-color: hsl(0 0% 100% / 0.05);
}

.login-btn {
  z-index: 1;
  color: #b76d68;
  font-weight: 700;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
}

.signin-btn {
  color: white;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
  display: flex;
  align-items: center;
  align-content: center;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;

  left: 15%;
  top: 25%;

  flex-direction: column;
  align-items: center;
}


.modal-container {
  margin-left: 5rem;
  border-radius: 3rem / 2rem;
  
  position: fixed;
  display: flex;

  transform: translate(-50%, -50%);
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.modal-text {
  color: white;
  padding-top: 2rem;
}

.modal-grid {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  /* padding-block: 10%;
  width: min(95%, 70rem);
  margin-inline: auto;
  justify-items: center; */
}

.general-modal-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.google-div {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  background-color: #DB4437;
  border: none;
  color: white;
}

.fb-div {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;


  background-color: #4267B2;
  border: none;
  color: white;
}

.crypto-div {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem 0 1rem;

  justify-content: center;
  /* justify-items: center; */
  align-content: center;


  background: grey;
  border: none;
  color: white;
}

.crypto-join-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;

  padding-left: 10%;

  border-radius: 1rem;
  background-color: red;
}

.crypto-join-div.phantom {
  background-size: cover;
  background-color: blueviolet;
}

.crypto-join-div.metamask {
  background-size: cover;
  background-color: rgb(195, 195, 195);
  height: 100%;
}

.crypto-join-div.yoroi {
  background-color: darkblue;
  background-size: cover;
}

.crypto-icon-btn {
  height: 80%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border-width: 0;
  aspect-ratio: 1;
}

.crypto-icon {
  width: 2rem;
  aspect-ratio: 1;
}

.email-div {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;

  background-color: grey;
  border: none;
  color: white;
}

.exit-modal-div {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;

  background-color: grey;
  border: none;
  color: white;
}


@media screen and (max-width: 500px) {
  .modal-container{
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  .modal-img{
    width: 100%;
  }
  .close-modal-btn{
    color: red;
  }
}

/* ----------------------------------  Pricing Page */

.pricing-page-bg{
  background-image: linear-gradient(60deg, #2c2b3c, #403f4c, #2c2b3c, #403f4c, #2c2b3c, #403f4c);
  /* background-size: 400%; */
  width: 100%;
  height: 100%;
  animation: pricing-page-bg-animation 5s infinite alternate;
}

@keyframes pricing-page-bg-animation{
  0% {background-position: 0%;}
  100% {background-position: 100%;}
}

.price-card {
  cursor: pointer;
  font-size: 164px;
  padding-top: 2%;
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
  margin: 0;
  animation: deselected-price-card-animation 400ms;
}

.price-card h3 {
  font-size: 3rem;
}

.price-card h4 {
  font-size: 2rem;
}


@keyframes deselected-price-card-animation{
  0% {margin-top: 10%;}
  0% {margin-bottom: 20%;}
  100% {margin-bottom: 0%;}
  100% {margin-top: 0%;}
}

.selected-price-card {
  transition: all 700ms;
  z-index: 10;
  margin-top: 10%;
  margin-bottom: 20%;
  animation: selected-price-card-animation 400ms;
}

@keyframes selected-price-card-animation{
  0% {margin-top: 0%;}
  0% {margin-bottom: 0%;}
  100% {margin-bottom: 20%;}
  100% {margin-top: 10%;}
}

.price-card-container {
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -260px;
}

.deselected-price-card-splash {
  position: absolute;
  bottom: 0;
  left: 27%;
  right: 0;
  top: 0;
  clip-path: circle(10% at 50% 60%);
}


.selected-price-card-splash{
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 27%;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
  animation: selected-price-splash-animation 4s ease-in-out;
}

.selected-price-card-splash-test{
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 33%;
  right: 0;
  top: 25%;
  width: 35%;
  aspect-ratio: 2;
  border-radius: 3rem;

  animation: selected-price-splash-animation 1s ease-in-out;

}

/* .selected-price-card-splash-test .shape{
  margin: 0;
  width: 100%;
  height: 100%;
  top: 10%;
  bottom: 0;
  right: 30%;
  left: 0;
  z-index: 5;
} */


.deselected-price-card-splash-test {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 33%;
  right: 0;
  top: 25%;
  width: 35%;
  aspect-ratio: 2;
  border-radius: 3rem;

  clip-path: circle(15% at 80% 50%);

  animation: deselected-price-splash-animation .5s ease-out;
}

@keyframes selected-price-splash-animation{
  0% {clip-path: circle(15% at 80% 50%);}
  100% {clip-path: circle(110% at 80% 50%);}
}

@keyframes deselected-price-splash-animation{
  0% {clip-path: circle(110% at 80% 50%);}
  100% {clip-path: circle(15% at 80% 50%);}
}

.svg-test {
  margin: 0;
  width: 100%;
  height: 100%;
  top: 10%;
  bottom: 0;
  right: 30%;
  left: 0;
  z-index: 5;
}

/* ----------------------------------  Products Page */



.products-page-bg {
  background: #FFFBF6;
  position: fixed;
  width: 100%;
  height: 100%;

  min-height: 100vh;
  overflow:auto;
  position: fixed;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
}

#backdrop-box {
  position: absolute;
  background: #E7E0D6;
  z-index: -1;
}

#products-grid {
  display: grid;
  width: 100%;
  padding: 0.5rem;
  height: 100%;
}

.products-box {
  width: 100%;
  padding: 0.5rem;
}

#product-page-heading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-left: 2rem;
}

#product-page-heading h1 {
  color: #332817;
}

#product-page-subheading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#product-page-subheading h2 {
  color: #C0A483;
}

#green-box {
  background: #3C4733;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

#brown-box{
  background: #463C2C;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

#offwhite-box{
  background: #FFFBF6;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

#grey-box{
  background: #B6B2AB;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.products-page-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page-modal {
  width: clamp(50%, 400px, 90%);
  height: min(50%, 400px);

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #E7E0D6;
  padding: 3rem;
}

.products-page-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(max-content + 1rem);
  width: max-content;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #3c4733;
  color: #332817;
}

/* large screen size */
@media (min-width: 55em) {  
  .products-page-bg {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  #backdrop-box {
    height: calc( ((50vw / 3) * 2) + 1rem);
    width: 90vw;
    top: 15%;
  }
  
  #products-grid {
    grid-template-columns: [first] auto [line2] calc(50vw / 3) [line3] calc(50vw / 3) [line4] calc(50vw / 3) [end];
    grid-template-rows: calc(50vw / 3) calc(50vw / 3) calc(50vw / 3);
    height: calc( (50vw / 3) * 2 );
  }
  
  #products-heading-position {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  #products-subheading-position {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  
  #brown-box-position {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
  }
  
  #grey-box-position {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  #green-box-position {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
  }
  
  #offwhite-box-position {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  
  #product-page-heading {
    padding-left: 2rem;
  }
  
  #product-page-heading h1 {
    font-size: 4.5rem;
  }
  
  #product-page-subheading {
    padding-left: 2rem;
  }
  
  #product-page-subheading h2 {
    font-size: 2rem;
  }

  .products-page-modal {
    border-radius: 5% / 10%;
  }
}

/* medium screen size */
@media (min-width: 35em) and (max-width: 55em) {
  .products-page-bg {
    margin: 0;
  }

  #backdrop-box {
    height: calc( ((90vw / 3) * 3 ) + 2.5vw );
    width: 92.5vw;
    top: 15%;
  }

  #products-grid {
    grid-template-columns: [first] calc(90vw / 3) [line2] calc(90vw / 3) [line3] calc(90vw / 3) [end];
    grid-template-rows: [first] calc( (90vw / 3)) [line2] calc(90vw / 3) [line3] calc(90vw / 3) [line4] calc(90vw / 3) [line5] calc(90vw / 3) [line6] auto [end];
    height: calc( (50vw / 3) * 2 );
    padding-left: 5vw;
  }

  #products-heading-position {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  #products-subheading-position {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;

  }

  #brown-box-position {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }

  #grey-box-position {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  #green-box-position {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
  }

  #offwhite-box-position {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #product-page-heading {
    padding-left: 1rem;
  }

  #product-page-heading h1 {
    font-size: 4rem;
  }

  #product-page-subheading {
    padding-left: 1rem;
  }
  
  #product-page-subheading h2 {
    font-size: 2rem;
  }

  .products-page-modal {
    border-radius: 5vw;
  }
}

/* small screen size */
@media (max-width: 35em) {
  .products-page-bg {
    margin: 0;
  }

  #backdrop-box {
    height: calc( ((90vw / 3) * 4) + 2.5vw );
    width: 92.5vw;
    top: 15%;
  }

  #products-grid {
    grid-template-columns: [first] calc(90vw / 3) [line2] calc(90vw / 3) [line3] calc(90vw / 3) [end];
    grid-template-rows: [first] calc( (90vw / 3) * 2) [line2] calc(90vw / 3) [line3] calc(90vw / 3) [line4] calc(90vw / 3) [line5] calc(90vw / 3) [line6] auto [end];
    height: calc( (50vw / 3) * 2 );
    padding-left: 5vw;
  }

  #products-heading-position {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  #products-subheading-position {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;

  }

  #brown-box-position {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }

  #grey-box-position {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  #green-box-position {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
  }

  #offwhite-box-position {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #product-page-heading {
    padding-left: 1rem;
  }

  #product-page-heading h1 {
    font-size: 4rem;
  }

  #product-page-subheading {
    padding-left: 1rem;
  }
  
  #product-page-subheading h2 {
    font-size: 2rem;
  }

  .products-page-modal {
    border-radius: 5vw;
    padding-top: 15vw;
  }
}


/* ---------------------------------- Profile Page */

#profile-backdrop {
  position: absolute;
  background: #E7E0D6;
  z-index: -1;
}

/* large screen size */
@media (min-width: 55em) {  
  #profile-backdrop {
    height: 20vh;
    width: 90vw;
    top: 15%;
  }

  #id-strip {
    height: 20vh;
    width: 100%;
  }

  #personal-details {
    height: 100%;
    width: 50%;
    /* this is same size as home button icon */
    padding-left: 25px; 
  }

  #personal-details img {
    border-radius: 50%;
    width: 15vh;
  }

  #impersonal-details {
    height: 100%;
    width: 50%;
    padding-left: 4rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #C0A483;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  #profile-name {
    display: flex;
    flex-direction: row;
  }

  #profile-name h1 {
    font-size: 2rem;
    color: #332817;
    padding-right: 3rem;
  }

  .impersonal-cat {
    display: flex;
    justify-content: start;
    height: 100%;
  }

  .impersonal-status {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .impersonal-status span {
    color: #332817;
  }

  .privacy-switch {
    width: 3rem;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 1rem;
    padding: 0.15rem;
    cursor: pointer;
  }

  .privacy-switch[data-isOn="true"] {
    justify-content: flex-end;
  }

  .privacy-switch-handle {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #FFFBF6;
    border-radius: 100%;
  }

  #profile-page-central-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 45vh;
    width: 90vw;
  }

  #profile-page-central-text h1 {
    font-size: 4rem;
    color: #3C4733;
  }

  #profile-page-central-text h3 {
    font-size: 1rem;
    padding-top: 1rem;
    color: #C0A483;
  }

  #project-status {
    display: flex;
    color: #332817;
    padding-top: 3rem;
  }

  #project-status span {
    font-size: 1.5rem;
  }

  /* * ------------my work section */ */

  body {
    background-color: #fffbf6;
  }
  
  .my-work-position {
    position: absolute;
    top: calc(45vh + 4rem + 4rem + 1.5rem + 2rem);
    left: 5vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
  }
  
  .my-work-window {
    width: 90vw;
    height: min-content;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: #e7e0d6;
    overflow: hidden;
    /* box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
    display: flex;
    flex-direction: column;
  }
  
  .my-work-navigation {
    background: #3c4733;
    padding: 0.5rem 0.5rem 0;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 4rem;
    color: #332817;
  }

  .my-work-icon {
    color: #332817;
    padding-right: 1rem;
  }
  
  #my-work-map {
    display: flex;
    width: 100%;
  
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  
  #my-work-map-item {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
  
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 1.75rem 1rem;
    position: relative;
    cursor: pointer;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
  }
  
  li.selected {
    background: #E7E0D6;
  }
  
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.25rem;
    background: #332817;
  }
  
  #my-work-content-container {
    position: relative;
    user-select: none;
  }

  #my-work-content {
    font-size: 3rem;
  }

  #secured-projects-grid {
    position: relative;
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat( 6, calc( (90vw / 6) - 0.5rem - (0.5rem / 6) ));
    grid-template-rows: repeat( 6, calc( (90vw / 6) - 0.5rem - (0.5rem / 6) ));

  }
  .project-grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc( (90vw / 6) - 1rem - (1rem / 6) ), 1fr));
    grid-gap: 1rem;
    grid-auto-rows: minmax(calc( (90vw / 6) - 1rem - (1rem / 6) ), auto);
    grid-auto-flow: dense;
    padding: 1rem;
   
  }

  .project-grid-item {
      padding: 1rem;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      background-color: #ccc;
      border-radius: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

  .span-2 {
      grid-column-end: span 2;
      grid-row-end: span 2;
  }

  .span-3 {
      grid-column-end: span 3;
      grid-row-end: span 4;
  }

  .big-square {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .hz-rect {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }

  .vr-rect {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }

  .green-block {
    background-color: #3c4733;
    color: #332817;
  }

  .brown-block {
    background-color: #332817;
    color: #E7E0D6;
  }

  .grey-block {
    background-color: #B6B2AB;
    color: #332817;
  }

  .offwhite-block {
    background-color: #FFFBF6;
    color: #332817;
  }

  

  
}

/* medium screen size */
@media (min-width: 35em) and (max-width: 55em) {

}

/* small screen size */
@media (max-width: 35em) {

}


/* ---------------------------------- Protect Image Page (proImg) */

#proImg-vert-backdrop {
  position: absolute;
  background: #E7E0D6;
  z-index: -1;
}

#proImg-hor-backdrop {
  position: absolute;
  background: #C0A483;
  z-index: -1;
}

/* large screen size */
@media (min-width: 55em) {
  #proImg-vert-backdrop {
    top: 15%;
    right: 5vw;
    width: 50vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc( 40vh + 50px) 25px 25px 25px;
  }

  #proImg-hor-backdrop {
    /* 25px comes from the width of the navbar icons */
    top: calc(15% + 25px);
    right: calc( 5vw + 25px );
    width: calc( 90vw - 25px );
    height: 40vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
  }


  #proImg-title-container h1{
    font-size: 4rem;
    color: #332817;
  }

  #proImg-text-container {
    position: absolute;
    top: calc( 15% + 1rem + 40vh + 2rem);
    left: 5vw;
    padding-left: 4rem;
    padding-right: 2rem;
    width: 40vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  #proImg-text-container h2 {
    font-size: 2.5rem;
    color: #332817;
  }

  #proImg-text-container h3 {
    font-size: 2rem;
    color: #332817;
  }

  #proImg-text-container h4 {
    font-size: 1.5rem;
    color: #332817;
  }

  #proImg-text-container h5 {
    font-size: 1rem;
    color: #332817;
  }

  #proImg-long-entry-container {
    width: calc(50vw - 25px);
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .proImg-long-form {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .proImg-long-input {
    width: 90%;
    height: 60%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    color: #3c4733;

    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.4);
  }

  .proImg-long-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .proImg-long-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171);
  }

  #proImg-thick-entry-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .proImg-thick-form {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .proImg-thick-input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-top: 1rem;
    color: #332817;
    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.2)
  }

  #proImg-thick-entry-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  #proImg-upload-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    width: 70%;
    height: calc(100% - 25px);
    
    margin-top: 25px;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: rgba(182, 178, 171, 0.2);
  }

  #proImg-submit-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: calc(25px / 2);
  }

  textarea {
    resize: none;
  }

  .proImg-thick-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .proImg-thick-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171, 0.4);
  }

  /* #proImg-upload-img-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 50%;
    border-radius: 1em;
    background-color: #C0A483;
    color: #332817;
  } */

  #proImg-submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    border-radius: 1em;
    background-color: #C0A483;
    color: #332817;
  }

}

/* ---------------------------------- LoginPage2 */

#log-in-backdrop-box{
  position: absolute;
  background: #C0A483;
  z-index: -1;
}

#sign-up-backdrop-box{
  position: absolute;
  background: #E7E0D6;
  z-index: -2;
}

@media (min-width: 55em) {
  #sign-up-backdrop-box{
    right: 5vw;
    height: 75vh;
    width: 60%;
    padding: 50px;
    padding-left: calc(10% + 50px);
  }

  #log-in-backdrop-box {
    left: 5vw;
    top: calc(15% + 2em);
    height: 60vh;
    width: 40vw;
    padding: 50px;
  }

  /* log in */

  #log-in-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #log-in-container h1 {
    font-size: 4rem;
    color: #332817;
  }

  #log-in-container h3 {
    font-size: 1rem;
    color: #332817;
    padding-top: 0.5rem;
  }

  #log-in-container h4 {
    font-size: 0.75rem;
    color: #332817;
    padding-top: 0.5rem;
  }

  #login-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 35px;
    padding-left: 25px;
  }

  .login-page-btn {
    border-radius: 1rem;
    height: 3rem;
  }

  .google-login-btn {
    width: 20%;
    /* background-color: rgba(219, 50, 54, 1); */
    background-color: #332817;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .google-icon {
    width: 2rem;
  }

  .email-login-btn {
    width: 50%;
    background-color: #3c4733;
    color: #332817;
    font-size: 1.2rem;
  }

  #login-entry-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
  }

  .login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .login-input {
    width: 90%;
    height: 60%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    color: #3c4733;

    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.4);
  }

  .login-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .login-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171);
  }

  /* sign up */
 
  #sign-up-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #sign-up-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sign-up-container h1 {
    font-size: 4rem;
    color: #332817;
  }

  #sign-up-container h3 {
    font-size: 1rem;
    color: #332817;
    padding-top: 0.5rem;
  }

  #sign-up-container h4 {
    font-size: 0.75rem;
    color: #332817;
    padding-top: 0.5rem;
  }

  .sign-in-form {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sign-up-password-input {
    width: calc(45% - 1rem);
    height: 60%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    color: #3c4733;

    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.4);
  }
  .sign-up-password-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .sign-up-password-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171);
  }

  #forgot-pass-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  #forgot-pass-container p {
    color: rgba(60, 71, 51, 0.3);
  }
}

/* ---------------------------------- reset password page */


#reset-page-bg {
  background-color: #FFFBF6;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#reset-backdrop-box {
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 5%;
  width: 70vw;
  height: 70vh;
  background-color: #E7E0D6;
}

#reset-page-parent {
  z-index: 2;
  width: calc(90vw - 50px);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#reset-page-heading h1 {
  z-index: 2;
  color: #332817;
  padding-bottom: 1rem;
  padding-left: 25px;
}



#reset-box-placement {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#reset-page-subheading {
  padding-top: 3rem;
}

#reset-page-subheading h2, h3 {
  padding-top: 1rem;
  color: #332817;
  width: 100%;
  padding-left: 25px;
}

.reset-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #C0A483;
  padding: 25px 25px 25px 25px;
  width: 50%;
}

.reset-textbox {
  width: 100%;
  height: 30%;
  border-radius: 1rem;
  background-color: rgba(182, 178, 171, 0.5);
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  color: #3c4733;

  border-width: 2px;
  border-color: rgba(182, 178, 171, 1);
}

.reset-textbox::placeholder {
  color: #332817;
  opacity: 0.5;
}

.reset-textbox:focus {   
  outline: none;
  border-color: rgba(51, 40, 23, 0.2);
}

.reset-btn {
  height: 30%;
  width: 50%;
  border-radius: 1rem;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: #C0A483;
  background-color: #3c4733;
}
.reset div {
  margin-top: 7px;
}

/* ---------------------------------- login prompt */

#loginprompt-backdrop {
  z-index: -1;
  top: 30%;
  position: absolute;
  height: 50vh;
  width: 90vw;
  background-color: #E7E0D6;
  justify-content: center;
}

.loginprompt-text {
  display: flex;
  flex-direction: column;
}

.loginprompt-text h2 {
  color: #332817;
  font-size: 3rem;
}

#loginprompt-Ltext {
  padding-left: 17vw;
  padding-bottom: 1rem;
}

#loginprompt-Rtext {
  text-align: right;
  padding-right: 17vw;
  padding-top: 1rem;
}

#loginprompt-loginbtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2.5vw;
  background-color: #C0A483;
  border-radius: 1rem;
  height: 5rem;
  width: 12rem;
}

#loginprompt-loginbtn p{
  color: #332817;
}

/* ---------------------------------- plans page */

#plan-page-backdrop {
  z-index: -1;
  background-color: #C0A483;
}


/* large screen size */
@media (min-width: 55em) {
  #plan-page-backdrop {
    position: absolute;
    bottom: 5%;
    width: 90vw;
    height: 30vh;
    display: flex;
    align-items: flex-end;
  }

  #plan-page-bottom-row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #plan-page-bottom-row p {
    color: #332817;
    padding: 1rem;
  }

  #plans-cards-container {
    position: absolute;
    width: 80vw;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .plans-card {
    width: calc((80vw / 3) - (5vw / 2));
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 4rem;
    padding-bottom: 3rem;
    box-shadow: 0 5px 5px rgb(231, 224, 214, 0.3);
  }

  .plans-card:hover{
    border: #332817;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 10px 5px rgb(231, 224, 214, 0.2);
    /* box-shadow: 2px -2px 5px 0 #C0A483,
    -2px 2px 5px 0 #E7E0D6; */
  }


  .plans-card h2 {
    padding-bottom: 2rem;
  }

  .plans-card h3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
    align-items: baseline;
    justify-content: center;
  }

  .currencey-symbol {
    font-size: 1rem;
  }

  .price-card-value {
    font-size: 3rem;
  }

  .price-card-timeperiod {
    font-size: 0.75rem;
  }

  .plans-card-hr {
    width: 50%;
  }

  .plans-card ul {
    padding-top: 2rem;
    text-align: center;
  }

  .plans-card li {
    padding-top: 1rem;
  }

  .buy-plan-container {
    height: 100%;
    width: 100%;
  }

  .buy-plan-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buy-plan-btn {
    background-color: #332817;
    width: 50%;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
  }
}

/* plans at small screen size */
@media (max-width: 35em) {
  #plan-page-backdrop {
    position: fixed;
    top: 15%;
    left: calc( 3.75vw + 2.5vw );
    width: calc(100vw - 2 * (3.75vw + 2.5vw));
    height: 25%;
  }

  #plan-page-bottom-row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #plan-page-bottom-row p {
    color: #332817;
    padding: 1rem;
  }

  #plans-cards-container {
    position: absolute;
    top: 30%;
    left: calc( 3.75vw + 2.5vw + 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .plans-card {
    width: calc(100vw - 2 * (3.75vw + 2.5vw) - 50px);
    height: max-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    padding-top: 4rem;
    padding-bottom: 3rem;
    box-shadow: 10px 5px 5px rgb(231, 224, 214, 0.3);
    margin-bottom: 2rem;
  }

  .plans-card:hover{
    border: #332817;
    border-style: solid;
    border-width: 3px;
    box-shadow: 20px 20px 5px rgb(231, 224, 214, 0.2);
    /* box-shadow: 2px -2px 5px 0 #C0A483,
    -2px 2px 5px 0 #E7E0D6; */
  }

  .plans-card h2 {
    padding-bottom: 2rem;
  }

  .plans-card h3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
    align-items: baseline;
    justify-content: center;
  }

  .currencey-symbol {
    font-size: 1rem;
  }

  .price-card-value {
    font-size: 3rem;
  }

  .price-card-timeperiod {
    font-size: 0.75rem;
  }

  .plans-card-hr {
    width: 50%;
  }

  .plans-card ul {
    padding-top: 2rem;
    text-align: center;
  }

  .plans-card li {
    padding-top: 1rem;
  }

  .buy-plan-container {
    height: 100%;
    width: 100%;
  }

  .buy-plan-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buy-plan-btn {
    background-color: #332817;
    width: 50%;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
  }
}

/* ---------------------------------- PayPage */


.stripe-card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #afafaf;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.pay-button{
  padding: 0.7rem 2rem;
  width: 100%;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #556cd6;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  transition: box-shadow 500ms;
  cursor: pointer;
}
.pay-button:disabled{
  background-color: #afafaf;
  box-shadow: none;
  cursor: default;
}
.pay-button:disabled:hover{
  box-shadow: none;
}
.pay-button:hover{
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------- Success Page */

#success-pg-container {
  position: absolute;
  top: 15%;
  width: 90vw;
  height: calc(100% - 25%);
}

#success-backdrop-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #E7E0D6;
  width: 100%;
  height: 50%;
  padding: 25px
}

#success-pg-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  aspect-ratio: 3;
  border-radius: 1rem;
  background-color: #3c4733;
  color: #E7E0D6;
}
/* ---------------------------------- Cancel Page */

#cancel-pg-container {
  position: absolute;
  top: 15%;
  width: 90vw;
  height: calc(100% - 15%);
}

#cancel-backdrop-box {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #C0A483;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
}

#cancel-pg-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 100%;
}

#cancel-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cancel-pg-btn {
  width: 20%;
  aspect-ratio: 2;
  border-radius: 1rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#cancel-pg-home-btn {
  background-color: #332817;
  color: #C0A483;
}

#cancel-pg-retry-btn {
  background-color: #3c4733;
  color: #E7E0D6;
}


/* ---------------------------------- Contact Page */

#contact-bg-strip {
  position: absolute;
  top: 15%;
  width: 100%;
  background-color: #E7E0D6;
}

#contact-box {
  position: absolute;
  background-color: #C0A483;
}

#contact-box h1 {
  color: #332817;
}

#contact-box h4 {
  color: #332817;
  opacity: 0.2;
}

#contact-box h5 {
  text-align: center;
  color: #332817;
  opacity: 0.5;
}

/* contact page at large screen size */
@media (min-width: 55em) {

  #contact-bg-strip {
    height: 60vh;
  }

  #contact-box {
    top: calc(15% + 25px);
    left: calc(12%);
    width: calc(76%);
    height: 70vh;
    padding: 50px;
  }

  #contact-box h5 {
    text-align: center;
    color: #332817;
    opacity: 0.5;
  }

  .contact-row {
    padding-top: 1rem;
    height: 100%;
  }

  #form-column {
    width: 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #socials-column {
    width: 40%;
    height: 100%;
    padding-left: 50px;
  }

  .contact-long-form-container {
    width: 100%;
    justify-content: space-between;
    height: 15%;
  }

  .contact-long-form {
    width: calc(50% - 1rem);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact-long-input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    color: #3c4733;

    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.4);
  }

  .contact-long-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .contact-long-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171, 0.8);
  }

  #contact-thick-entry-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-thick-form {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .contact-thick-input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-top: 1rem;
    color: #332817;
    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.2)
  }

  #contact-thick-entry-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-thick-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .contact-thick-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171);
  }

  #contact-submit-container {
    height: 15%;
    width: 20%;
  }

  #contact-submit-btn {
    background-color: #3c4733;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    color: #332817;
  }

  .socials-layout {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  #socials-column-thanks {
    width: 100%;
    height: 100%;
  }

  .socials-layout-thanks {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  .socials-row {
    padding: 0 2rem 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 35em) {
  #contact-bg-strip {
    z-index: -2;
    height: 60vh;
  }

  #contact-box {
    z-index: -1;
    top: calc(15% + 25px);
    left: calc(12%);
    width: calc(76%);
    height: max-content;
    padding: 50px;
    margin-bottom: 15%;
  }

  .contact-row {
    padding-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #form-column {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .contact-long-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 25%;
    gap: 1rem;
  }

  .contact-long-form {
    width: 100%;
    height: 100%;
  }

  .contact-long-input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    color: #3c4733;

    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.4);
  }

  .contact-long-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .contact-long-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171, 0.8);
  }

  #contact-thick-entry-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-thick-form {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .contact-thick-input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(182, 178, 171, 0.3);
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-top: 1rem;
    color: #332817;
    border-width: 2px;
    border-color: rgba(182, 178, 171, 0.2)
  }

  .contact-thick-input::placeholder {
    color: #332817;
    opacity: 0.3;
  }

  .contact-thick-input:focus {   
    outline: none;
    border-color: rgba(182, 178, 171);
  }

  #contact-submit-container {
    width: 50%;
    aspect-ratio: 2;
    padding-bottom: 1rem;
  }

  #contact-submit-btn {
    background-color: #3c4733;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    color: #332817;
  }

  .socials-layout {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }
}

/* ---------------------------------- About Page */

/* about page at large screen size */
@media (min-width: 55em) {
  #about-pg-backdrop {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90vw;
    /* height: calc( ((90vw / 3) * 2) + 25px); */
    height: calc(60vw + 3px);
    background-color: #E7E0D6;
  }

  #about-pg-grid {
    position: absolute;
    top: calc(15% + 25px);
    left: calc(5% + 25px);
    width: calc(90vw - 50px);
    height: calc(90vw - 50px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
/* 
    grid-template-columns: [first] auto [line2] calc(90vw / 3) [line3] calc(90vw / 3) [line4] calc(90vw / 3) [end];
    grid-template-rows: calc(90vw / 3) calc(90vw / 3) calc(90vw / 3);
    height: calc( (90vw / 3) * 2 ); */
  }

  .about-box {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .about-box h1 {
    color: #332817;
    font-size: 5rem;
    padding-bottom: 3rem;
  }

  .about-box h2 {
    color: #C0A483;
    font-size: 2rem;
  }

  .about-box span {
    color: #C0A483;
    opacity: 0.3;
    font-size: 2rem;
  }


  #about-grid-text {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  #about-grey {
    grid-column: 3;
    grid-row: 1;
    background-color: #B6B2AB;
  }

  #about-transp {
    background-color: rgba(51, 40, 23, 0.1);
    grid-column: 2 / 4;
    grid-row: 2;
    border-width: 3px;
    border-color: rgba(51, 40, 23, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
  }

  #about-long-box {
    background-color: #C0A483;
    grid-column: 1;
    grid-row: 2 / 4;
  }


  .founder-strip {
    height: 10rem;
    width: calc(100% - 50px);
  }
  
  .sam-container {
    background: #B6B2AB;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .sam-container[data-isOpen="true"] {
    width: calc(100% - 160px - 25px);
    height: 100%;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: #B6B2AB;
    justify-content: space-between;

  }
  
  .greg-container {
    background: #C0A483;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .greg-container[data-isOpen="true"] {
    width: calc(100% - 160px - 25px);
    height: 100%;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: #C0A483;
    justify-content: space-between;
  }

  .founder-content-div {
    display: flex;
    flex-direction: row;
    width: 100%
  }
  
  .founder-content-div h4{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  #sam-content[data-isOpen="true"] {
    color: #3c4733;
    padding-right: 3rem;
  }

  #greg-content[data-isOpen="true"] {
    color: #332817;
    padding-left: 3rem;
  }

}


/* ----------------------------------  Examples Page */

.examples-backdrop-box {
  background-color: #E7E0D6;
  position: fixed;
  z-index: -1;
}

#examples-grid {
  position: absolute;
}

/* .examples-box {
  background-color: grey;
  width: 100%;
  height: 100%;
} */

/* large screen */
@media (min-width: 55em) {
  #about-pg-backdrop {
    top: 15%;
    left: 5%;
    width: 90vw;
    height: calc(10%);
  }
}

/* small screen */
@media (max-width: 35em) {
  #examples-backdrop-box {
    top: 15%;
    left: calc( 3.75vw + 2.5vw );
    width: calc(100vw - 2 * (3.75vw + 2.5vw));
    height: 25%;
  }

  #examples-grid {
    position: absolute;
  }
}


/* ---------------------------------- Navbar2 */

.nav-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  height: 15vh;
}

/* navbar at small screen size */
@media (max-width: 35em) { 
  .nav-position {
    padding-left: calc( 3.75vw + 2.5vw );
    padding-right: calc( 3.75vw + 2.5vw );
  }

  #nav-drop-container {
    position: absolute;
    top: 0;
    width: 0%;
    height: 0%;
  }

  #nav-drop-container[data-isOpen="true"] {
    top: 0;
    left: calc(3.75vw + 2.5vw + 25px + 2.5vw);
    /* left: 0; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* border-bottom-width: 5px; */
    border-width: 5px;
    border-top-width: 0;
    border-color: #C0A483;
    width: calc(82.5vw - 50px);
    /* width: 100%; */
    height: 30vh;
    background-color: #E7E0D6;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #C0A483;
  }

  #drop-nav-exit-btn {
    position: inherit;
    bottom: 5%;
    right: 5%
  }

  /* FFFBF6 */

}
/* navbar at medium screen size */
@media (min-width: 35em) and (max-width: 55em) {
  .nav-position {
    padding-left: calc( 3.75vw + 1rem);
    padding-right: calc( 3.75vw + 1rem);
  }
}

/* navbar at large screen size */
@media (min-width: 55em) {
  .nav-position {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}









/* ----------------------------------  Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}








/* Footer Section */


.social-icon {
  margin: 0;
  color: #403f4c;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* .size-test {
  position: absolute;
  top: 30vh;
  left: 3.75vw;
  height: 10rem;
  width: 3vw;
  background-color: blue;
} */